body {
    font-family: Arial, Helvetica, sans-serif;
}

.Weather {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 21px auto;
    max-width: 600px;
color: rgb(13, 13, 49);
}
.Weather h1 {

font-size: 24px;
font-weight: 400;
line-height: 29px;
}
.tear {
    color: blue;
}
.wind {
    color: blue;
}
.Weather h2 {
   
    
    font-size: 20px;
    font-weight: 400;
   text-align: center;

}
